# Environment variables & secrets
.env
.env.*
*.env

# Node / Frontend dependencies & builds
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/

# Maven / Java backend builds
target/
**/target/
*.class
*.jar
*.war
*.ear

# IDE and System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
